.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #132f52;
}

.header h1 {
  font-size: 30px;
}

.nav a {
  padding: 0 8px;
}
